@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@500&family=Roboto&display=swap');

.btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  width: 208px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  gap: 10px;
  background: linear-gradient(180deg, #ffbb00 0%, #f2a60c 100%);
  border-radius: 5px;
  border: 0;
}
.btn > span {
  width: 153px;
  text-transform: uppercase;
  color: #332200;
}

.btn--dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  background: #121212;
  border-radius: 5px;
}

.btn--dark > span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #cccccc;
}
